#loginLogo {
   font-size: 4em;
   font-family: Copperplate;
   color: goldenrod;
}

Form {
   background-color: goldenrod;
   border-radius: 25px;
}

.btn {
   background-color: darkgreen;
   border-color: darkgreen;;
}

.btn:hover {
   color: darkgreen;
   background-color: white;
   border-color: white;
}